/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

@import url('https://fonts.googleapis.com/css?family=Muli:600');

.MMM-Satellites .header {
  color: #00ffff;               /* Header color. Default is white. */
}

.MMM-Satellites .id {
  color: #00ffff;               /* id and launch date color. Default is white. */
  font-family: Muli;
  font-size: .5em;
}

.MMM-Satellites .azimuth {
  color: #00ffff;               /* azimuth color. Default is white. */
  font-family: Muli;
  font-size: .5em;
}

.MMM-Satellites .elevation {
  color: #00ffff;               /* elevation color. Default is white. */
  font-family: Muli;
  font-size: .5em;
}
